<include file="Public:header" />
<body>
  <div style="margin-top: 20px">
  <form class="layui-form" method="post" action="{:U('Home/Admin/exitpersonal')}">
    <input type="hidden" name="id" value="{$personalData.id}">
	<div class="layui-form-item">
    <label class="layui-form-label">账号：</label>
    <div class="layui-input-inline">
      <input name="number" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input" type="text" value="{$personalData.number}" disabled="">
    </div>
    <label class="layui-form-label">姓名：</label>
    <div class="layui-input-inline">
      <input name="name" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input" type="text" value="{$personalData.name}">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">性别：</label>
    <input type="hidden" name="" id="kinds" value="{$personalData.sex}">
    
    <div class="layui-input-inline">
      <input name="sex" value="0" title="男" type="radio" id="one" checked="">&nbsp;&nbsp;&nbsp;
      <input name="sex" value="1" title="女" type="radio" id="two" checked="">
    </div>
    <script type="text/javascript">
        var s = document.getElementById("kinds").value;
          if(s==0){
              document.getElementById("one").checked="checked";
        }else{
              document.getElementById("two").checked="checked";
        }
    </script>
    <label class="layui-form-label">邮箱：</label>
    <div class="layui-input-inline">
       <input name="email" lay-verify="email" autocomplete="off" class="layui-input" type="text" value="{$personalData.email}">
    </div>
  </div>
  <input type="submit" name="" value="提交" class="layui-btn layui-btn-warm" style="margin-left: 50px">
</form>
</div>
	<include file="Public:footer" />
</body>
</html>