<include file="Public:header" />
<body>
  <div style="margin-top: 20px">
  <form class="layui-form" method="post" action="{:U('Home/Teacher/exitpassword')}">
    <input type="hidden" name="id" value="{$personalData.id}">
	<div class="layui-form-item">
    <label class="layui-form-label">原密码：</label>
    <div class="layui-input-inline">
      <input name="oldpassword" lay-verify="required" placeholder="请输入原密码" autocomplete="off" class="layui-input" type="password">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">新密码：</label>
    <div class="layui-input-inline">
        <input name="password" lay-verify="required" placeholder="请输入新密码" autocomplete="off" class="layui-input" type="password">
    </div>
  </div>
  <input type="submit" name="" value="提交" class="layui-btn layui-btn-warm" style="margin-left: 50px">
</form>
</div>
	<include file="Public:footer" />
</body>
</html>