<include file="Public:header" />
<body>
  <div style="margin-top: 20px">
    <a href="{:U('Home/teacher/addstudent')}" class="layui-btn layui-btn-warm">添加</a href="">
<div class="layui-form">
  <table class="layui-table">
    <colgroup>
      <col width="200">
      <col width="200">
      <col width="200">
      <col width="200">
      <col>
    </colgroup>
    <thead>
      <tr>
        <th>学号</th>
        <th>姓名</th>
        <th>邮箱</th>
        <th>操作</th>
      </tr> 
    </thead>
    <tbody>
      <foreach name="studentData" item="vo" >
      <tr>
        <td>{$vo.number}</td>
        <td>{$vo.name}</td>
        
        <td>{$vo.email}</td>
        <td><a href="{:U('Home/teacher/editStudent',array('id'=>$vo['id']))}">修改</a> | <a href="{:U('Home/teacher/delStudent',array('id'=>$vo['id']))}">删除</a></td>
      </tr>
      </foreach>
    </tbody>
  </table>
</div>
</div>
	<include file="Public:footer" />
</body>
</html>