<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>奖惩系统</title>
    <link rel="stylesheet" href="__PUBLIC__/static/plugins/layui/css/layui.css" media="all">
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="__PUBLIC__/static/build/css/app.css" media="all">


    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<js file="__ROOT__/Public/Ueditor/ueditor.config.js"/>  
	<js file="__ROOT__/Public/Ueditor/ueditor.all.min.js"/>  
	<js file="__ROOT__/Public/Ueditor/lang/zh-cn/zh-cn.js"/>  
	
</head>